<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container" layout:fragment="content">
    <div>
        <div class="row">
            <div class="col-8">
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="javascript:void(0)">
                        <nav class="navbar bg-body">
                            <div class="container-fluid">
                                <form class="d-flex" role="search" action="admin/dashboard/san-pham/search"
                                      method="get">
                                    <input name="searchNameOrMa"
                                           class="form-control custom-shadow custom-radius border-0 bg-white"
                                           type="search" placeholder="Search Tên Or Mã" aria-label="Search">
                                    <button class="btn btn-rounded btn-primary" type="submit">Search</button>
                                </form>
                            </div>
                        </nav>
                    </a>
                </li>
            </div>
            <div class="col-2">
                <a href="/admin/dashboard/san-pham/view-add"
                   class="btn waves-effect waves-light btn-rounded btn-primary">View Add</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Danh Sách</h4>
            <div class="tab-content">
                <div class="tab-pane show active" id="home">
                    <table class="table align-middle table-row-dashed fs-6 gy-5">
                        <thead>
                        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                            <th scope="col">STT</th>
                            <th scope="col">Image</th>
                            <th scope="col">Sản Phẩm</th>
                            <th scope="col">Loai San Pham</th>
                            <th scope="col">Thuong Hieu</th>
                            <th scope="col">Status</th>
                            <th scope="col">Hành Động</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-600 fw-semibold">
                        <tr th:each="sp,index:${listSanPham}">
                            <td th:text="${index.count}"></td>
                            <td class="d-flex align-items-center">
                                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                    <a href="#" class="d-block border rounded-2">
                                        <div class="symbol-label">
                                            <img th:src="${sp.imageUrl}"
                                                 alt="Error Image"
                                                 style="width: 70px; height: 70px;border-radius: 10%;object-fit: cover"
                                            />
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <td th:text="${sp.name}"></td>
                            <td th:text="${sp.category.name}"></td>
                            <td th:text="${sp.brand.name}"></td>
                            <td>
                                <span th:if="${sp.status == 1}" th:text="'Active'"></span>
                                <span th:if="${sp.status == 0}" th:text="'Disable'"></span>
                            </td>
                            <td>
                                <a th:href="@{/admin/dashboard/san-pham/view-update/{id}(id=${sp.id})}"
                                   class="btn waves-effect waves-light btn-rounded btn-warning"
                                >Update</a>
                                <a th:if="${sp.status==1}" th:href="@{/admin/dashboard/san-pham/delete/{id}(id=${sp.id})}"
                                   onclick="return confirm('Bạn có muốn xóa không')"
                                   class="btn waves-effect waves-light btn-rounded btn-danger"
                                >Delete</a>
                                <a th:if="${sp.status==0}" th:href="@{/admin/dashboard/san-pham/active/{id}(id=${sp.id})}"
                                   onclick="return confirm('Bạn có muốn active không')"
                                   class="btn waves-effect waves-light btn-rounded btn-warning"
                                >Active</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:if="${currentPage !=0}">
                                <a class="page-link"
                                   th:href="@{'/admin/dashboard/san-pham/page/'+${ currentPage - 1}}">Previous</a>
                            </li>
                            <li class="page-item" th:each="i: ${#numbers.sequence(1,totalPages)}"
                                th:classappend="${currentPage == i - 1 ? 'active' : ''}">
                                <a class="page-link" th:href="@{'/admin/dashboard/san-pham/page/'+${i - 1}}">
                                    <span th:text="${i}"></span>
                                </a>
                            </li>
                            <li class="page-item" th:if="${currentPage + 1 != totalPages}">
                                <a class="page-link"
                                   th:href="@{'/admin/dashboard/san-pham/page/'+${currentPage + 1}}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> <!-- end card-body-->
    </div>
</div>
</body>
</html>